



<input type="number" placeholder="Enter from account No" class="form-control" />
<input type="number" placeholder="Enter from account No" class="form-control" />
<button class="btn btn-danger">Transfer</button>