


<h1> Add New Product</h1>

<form method="post">

    <input type="number" placeholder="Enter New Product Id" class="form-control" name="newp.PID" />
    <input type="text" placeholder="Enter New Product Name" class="form-control" name="newp.PName" />
    <input type="number" placeholder="Enter New Product Price" class="form-control" name="newp.PPrice" />
    <select class="form-control" name="newp.PCategory">
        <option> Electronics </option>
        <option> Cold-Drinks </option>
        <option> Food </option>
        <option> Shoes </option>
        <option> Accessories </option>
    </select>
    <input type="text" placeholder="Is product Available in stock" class="form-control" name="newp.PIsInStock" />
    <button type="submit" class="btn btn-primary"> Add</button>
</form>
