@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>




@Html.Partial("~/Views/Shared/Partials/_deptByLocation.cshtml",new { ViewBag.dept })